<div class="header-b">
    <div class="header__textlogo">
        BREDE & SHEELEEN BRANDING, GRAPHICS, INTERACTION AND CAKES
    </div>
    <div class="header-b__fix">
        <div class="header-b__fix-left">
            <div class="header-b__fix-left-soc">
                <a href="#">
                    {{Icon iconName="be"}}
                </a>
                <a href="#">
                    {{Icon iconName="fb"}}
                </a>
                <a href="#">
                    {{Icon iconName="in"}}
                </a>
            </div>
            <div class="header-b__fix-left-text">
                <p>WHO ARE WE</p>
            </div>
            <a href="index.html" class="header-b__top-a">
                {{Icon iconName="logo"}}
            </a>
        </div>
        <div class="header-b__fix-right">
            <div class="header-b__top-menu">
            </div>
            <a href="#">
                EN
            </a>
            <a href="#">
                RU
            </a>
        </div>
    </div>
    <div class="header-b__mob wrapper">
        <a href="index.html" class="header-b__top-a">
            {{Icon iconName="logo"}}
        </a>
        <div class="header-b__top-menu">
        </div>
    </div>
</div>
<div class="header-b__fix-as">
    <a href="#">services</a>
    <a href="#">about</a>
    <a href="cases.html">cases</a>
    <a href="#">contact</a>
</div>


<div class="bsmenu">
    <div class="bsmenu__ov">
        <div class="bsmenu__ov-text">
            BREDE & SHEELEEN BRANDING, GRAPHICS, INTERACTION AND CAKES
        </div>
        <div class="bsmenu__ov-close">
            {{Icon iconName="close"}}
        </div>
        <div class="bsmenu__ov-lang">
            <a href="#">RU</a>
            <a href="#">LV</a>
        </div>
        <div class="bsmenu__ov-cop">
            © BS agency 2015 - 2022
        </div>
    </div>
    <div class="bsmenu__cont">
        <a href="#" class="bsmenu__cont-a">
            <div>
                <p>services</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="#" class="bsmenu__cont-a">
            <div>
                <p>about</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="cases.html" class="bsmenu__cont-a">
            <div>
                <p>cases</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="#" class="bsmenu__cont-a">
            <div>
                <p>contact</p>
                {{Icon iconName="plus"}}
            </div>
        </a>
        <a href="#" class="bsmenu__cont-a bsmenu__cont-bot">
            get quote
        </a>
    </div>
</div>